body {
  text-align: center;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  background-color: #16213E;
  background-image: url("src/images/bg/bg5.png");
  user-select: none;
}

a{
  text-decoration: none;
  color: #FEF2BF;
}
a:hover{
  color: #dbc251;
  cursor: pointer;
}

#gameName{
  font-size: 7rem;
  margin-top: 100px;
}

#start {
  font-size: 5rem;
  margin-top: 200px;
}

#start:hover{
  color: #e4d17f;
  cursor: pointer;
}

#owner{
  font-size: 1rem;
  margin-bottom: 50px;
}

.level{
  font-size: 3rem;
  margin-bottom:50px;
}

.again{
  font-size: 2rem;
}

.again:hover{
  color: #e4d17f;
  cursor: pointer;
}


.container {
   display: none;
  margin-top: 150px;
  margin: 90px 260px 0 260px;
}

.btn {
  margin: 25px;
  display: inline-block;
  width: 150px;
  border: 10px solid rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  padding: 60px 0;
  
}

.btn:hover{
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}




.pressed {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: grey;
  opacity: 0.5 ;
}

@media screen and (max-width: 1470px) {

  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn{
  width: 145px;
  padding: 57px 0;
  }

}




@media screen and (max-width: 1200px) {

  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn{
  width: 120px;
  padding: 45px 0;
  }


  #start {
    font-size: 3.5rem;
  }
  
}

@media (max-width: 970px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn{
  width: 200px;
  padding: 50px 0;
  }


  #start {
    font-size: 4rem;
  }
}